<div>
	Cupos Disponibles: <%=(Taller.find(taller).cupo - Inscripcion.where(:taller_id=>taller, :horario_id=>1).count).to_s%><br/>

	<%=taller.to_s%>

	<%= select_tag "inscripcion[horario_id]",options_for_select(Horario.all.collect{ |h| [h.hora_inicio.to_time.strftime("%I:%M %p"),h.id]}) %>

</div>