  .well, .caja-azul {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: white;
    background-color: #0B2161;
    border-radius: 6px;
    background-size: 100% 100%;
    background-image: url("/imagenes/azul-degradado.png");
    opacity: 0.85;
    position:relative;
    z-index: 1;
    word-wrap: break-word;
    margin:auto;
}

.padre-login{
    text-align: center;
    width: 100%;
}

.hijo-login{
    display: inline-block;
    text-align: left;      
}

.forgot-password-page, .login-page, .user-account-page, .new-page, .celeste {
	background-color: white;
    margin-top:80px;
    *background: -webkit-radial-gradient(bottom center, #fff,30%, #01DFD7,70%,#084B8A);
    background: linear-gradient(to bottom, rgba(255,255,255,0),85%,white),radial-gradient(at bottom center, #fff,30%, #04B4AE,70%,#084B8A);
    *background: radia-gradient(bottom center, #fff,30%, #01DFD7,70%,#084B8A);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.no-link-decoration{
    text-decoration: none;
    color:black;
}

.actions {
    background-color: blue;
    width: 250px;
}

.form-actions, .form-horizontal .actions{
    background-color: blue;
}


.navbar{
    position: fixed;
    margin-top: 0px;
    background-image:none;
    top: 0;
    right:0px;
    left:20px;
    height:60px ;
    z-index: 10;
    margin-right: 20px;
}
.imagenes{
    opacity: 1;
}

.imagenes-tablas{
    opacity: 1;
    width: 100%;
}

.btn{
    z-index:1;
}

.navbar-inner {
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    background-image: linear-gradient(to bottom, black, black);
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
}
.navbar-innner{
    background-image: linear-gradient(to bottom, gray, black);
}
